<%- include('template/header.ejs',{title: 'Service' }) %>

    <div class="container">
        <h1>
            <%= main %>
        </h1>
        <h2>
            <%= secondary %>
        </h2>
    </div>

    <%- include('template/footer.ejs') %>